---
- name: Install and Configure Nginx
  hosts: all
  become: yes

  tasks:
    - name: Install Nginx
      ansible.builtin.package:
        name: nginx
        state: present

    - name: Set nginx web root
      set_fact:
        nginx_web_root: "{{ '/usr/share/nginx/html' if ansible_os_family == 'RedHat' else '/var/www/html' }}"

    - name: Create index.html
      ansible.builtin.copy:
        dest: "{{ nginx_web_root }}/index.html"
        content: |
          <!DOCTYPE html>
          <html>
          <head><title>Server Details</title></head>
          <body>
          <h1>Served from {{ ansible_hostname }}</h1>
          </body>
          </html>
        mode: '0644'

    - name: Reload systemd
      ansible.builtin.command: systemctl daemon-reexec
      changed_when: false

    - name: Ensure Nginx is running and enabled
      ansible.builtin.service:
        name: nginx
        state: started
        enabled: true

